h2 {
  font-family: rockwell extra bold;
  color: white;
}
body {
  background-image: url(../img/black-angled-paper-slits-design-free-vector.jpg);
  background-position:  center center;
}
h1 {
  background-image: url(../img/descarga.png);
  background-position:  center center;
}
img {
  border-style: outset;
  border-color: #999999;
}
